Repository Ryu-JeongMoon/simple-diary-service, pull requests merged in 2021-12, with the labels that each got.

#2 Add GitHub Actions Setting for CI
  .github/workflows/gradle.yml
  back/.gitignore
  back/build.gradle
  back/src/main/resources/application.properties
Labels: enhancement

#9 Petty Fix - Naming Mistake
  front/src/styles/camelTypography.ts
Labels: front

#10 Migrate to Kotlin
  back/.gitignore
  back/build.gradle
  back/build.gradle.kts
  back/settings.gradle
  back/settings.gradle.kts
  back/src/main/java/com/simplediary/back/BackApplication.java
  back/src/main/java/com/simplediary/back/BackApplication.kt
  back/src/main/java/com/simplediary/back/config/JpaAuditingConfig.kt
  back/src/main/java/com/simplediary/back/config/PasswordEncoderConfig.kt
  back/src/main/java/com/simplediary/back/controller/DiaryController.kt
  back/src/main/java/com/simplediary/back/controller/UserController.kt
  back/src/main/java/com/simplediary/back/domain/entity/Diary.kt
  back/src/main/java/com/simplediary/back/domain/entity/User.kt
  back/src/main/java/com/simplediary/back/domain/repository/DiaryRepository.kt
  back/src/main/java/com/simplediary/back/domain/repository/UserRepository.kt
  back/src/main/java/com/simplediary/back/service/abstraction/DiaryService.kt
  back/src/main/java/com/simplediary/back/service/abstraction/UserService.kt
  back/src/main/java/com/simplediary/back/service/concrete/JpaDiaryService.kt
  back/src/main/java/com/simplediary/back/service/concrete/JpaUserService.kt
  back/src/main/java/com/simplediary/back/util/BaseTime.kt
  back/src/test/java/com/simplediary/back/domain/entity/UserTest.kt
Labels: back
